@import "./contenidos.scss";
@import "./variables.scss" ;
/* estilo del body en general */
.body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.2rem;                       
    line-height: 1.4em;
    margin: 0mm;
    width: 100%;
    left: 0mm;
    background: url(../imagenes/fondo_madera_blanca.jpg) repeat fixed 100%;
}   
    /* estilos del header*/
 
.header {      
    background-color:rgb(0, 0, 0,);
    display:flex;
    justify-content:space-around; 
    align-items:flex;            
    padding: 0rem;
    position:sticky;  
    width: 100%;
    z-index: 2;         
}

#btn-menu {       /* boton menu responsive */
    display: none;
}
header label {
    display: none;
    align-self: center;
    width: 82px;
    height: 76px;
    padding: 10px;
    border-right: 1px solid #fff;
    label:hover {
        cursor: pointer;
        background: rgba(161, 161, 161, 0.5);
    }
 
}
.imagen__menuBurguer {
    width: 30px;
}
.logo {
    width: 15%;
    object-fit: cover;
}
                     /* estilos de los links del header*/
.header__menu {
    align-self: center;

    ul {                     /* estilos de la linea de*/
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
        background-color: rgb(0, 0, 0);
        display: flex;
    }
    li{                       
        border-right: solid 0.8px rgb(121, 120, 120);
    }       
    li:hover {
        background-color: rgb(44, 43, 43);                  
    }
    li a {                    
        text-decoration: none;
        font-size: 25px;
        display: block;
        padding: 15px;
    }
    li a:hover {              
        color: yellow;
    }
}
@media (max-width:910px) {
    .header {
        display: block;
        height: 75px;
        background:#2b2424cc;
    }
    .header label {
        display: block;
        z-index: 2;
        align-self:unset;
    }
    .header__menu {
        position: absolute;
        align-self:flex-start;
        width: 50%;
        margin-left: -100%;
        transition: all 0.8s;
    }
    .logo {
        display: none;
    }
    .header__menu ul li  {
        border-top: solid #2b2424cc;
        border-radius: 31px;
    }
    .header__menu ul {
        align-self: center;
        background-color: #2b2424cc;
        flex-direction: column;
        border-radius: 31px;
    }
    #btn-menu:checked ~ .header__menu {
        margin-left: 0%;
     
    }
} 
.audio--index {
    width: 100%;
}
 /* estilos del footer */
.footer {
    background-image: linear-gradient(to top, rgb(0, 0, 0) , rgba(44, 44, 41, 0.432));

     /* estilo de contactos y redes*/
    .divGeneral1 {          
        width: 100%;
        display:flex;
        justify-content: space-around;

        .contactos {   /*contenedor de contactos */
            color: #a0d8d8;
            /*  width: 50%;*/
            display:block;
            text-align:center;
            font-family: 'Courier New', Courier, monospace;
        }
        .footer__redes {        /*contenedor de redes  */
            color: #a0d8d8;
            /*  width: 50%;*/
            display:block;
            text-align:center;
        }
        .TituloRedes a {
            display:inline-block;
            width: 100%;
            text-decoration:none;
            color: #a0d8d8;
        }
        .imagenRedes {
            width: 100%;
            display:inline-block;
        }
        .footer__Pagos {
            text-decoration: none;
            color: #a0d8d8;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
             li {
                list-style: none;
            }
        }  
    }
    .divgeneral2 {     /* estilo mapa - medios de pago - envios */
        width: 100%;
        display: inline-flex;
        .footer__Envios {     /* estilo pagos y envio */   
            width: 95%;
            display: block;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            color: #a0d8d8;
            list-style: inside;
            margin: 13px 4%;
        }
    }
    .footer__legales { /* estilo footer legale */
        background-color:black;
        color:darkcyan;
        text-align: center;
        font-size: 21px;
        font-family: 'Arial Narrow';
        display: flex;
        justify-content: space-evenly;
    }
    .p {
        height: 29px;
        margin: 0%;
        padding: 0%;
    } 
}                   