$font-family: Staatliches , cursive; /* fuente de  google */
$background-flotante:#b5c753b3;  /* Contenedores flotantes */

$Titulo-size:50px;
$Titulo2-size:45 px;
$Parrafo-size:25px;
$parrafo2-size:20 ;
$Link-size: 25px;
$Link-botom:15px;