* {
    padding: 0%;
    margin: 0%;
}
.grid {
    background-color: darkgrey;
    width: 100%;
    display: grid;
    grid-template-columns:20% 80%;
    grid-template-rows:repeat(3 , 500px);
    grid-row-gap: 30px;
}
.main__article1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

}
.main__article2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid: 2;

}
.main__article3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}
aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.article__contenedor {
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    max-height: 500px;
    overflow:auto;
}
.img__galeria1 {
    width: 33%;
    height: 247px;
    object-fit: cover;
    filter: brightness(70%);
    cursor: pointer;
    filter: grayscale(1.2)
}
.img__galeria1:hover {
    filter: brightness(100%);
    filter: grayscale(none);
}
main h2 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
.menu a {
    text-decoration: none;
    font-size: 25px;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    text-align: center;
    display:block;
    width: 100%;
    line-height: 39px;
    padding-top: 150px;
    justify-self: center;
}
.menu ul li:hover a {
    color: yellow;
}
.menu ul ul {
     display: none;
 }
.menu li:hover ul {
     display: block;
 }